
<% if user_signed_in? %>
  <%project = Project.all %>

  <%if current_user.role=="Manager" %>
    <%if project.present? %>
      <h1 class="heading bgc">Projects List</h1>
<table class="table table-striped table-hover space">
  <thead class="thead-light ">
  <tr>
    <th>Project Title</th>
    <th>Project Type</th>
    <th>Assigned Developer</th>
    <th>Assigned QA</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

   <% @p.each do |p| %>
    <tr>
      <td><%=p.title %></td>
      <td><%=p.project_type %></td>

      <% if p.assign_developer != nil %>
        <%devs = JSON.parse(p.assign_developer) %>
        <td>
          <ul>
        <%devs.each do|d| %>

          <% developer = User.find(d) %>


            <li><%= developer.name %> </li>
            <%end %>
            </ul>





        </td>
<% else %>
        <td>Not Assigned</td>
        <% end %>
      <% if !p.assign_qa.present? %>
        <td><p>Not Assigned </p></td>
      <% elsif p.assign_qa.present?%>
        <%qa = JSON.parse(p.assign_qa) %>
        <td>
        <%qa.each do|d| %>
        <% qa = User.find(d) %>

          <ul>
            <li><%= qa.name %></li>
          </ul>
          <%end %>
        </td>
      <% end %>
      <td><%=link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, project_bugs_path(project_id:p.id), class:"icon_color"  %>
      <%=link_to '<i class="fas fa-edit"></i>'.html_safe, edit_project_path(p.id),class:"icon_color" %>

        <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                    { controller: "projects", action: "destroy", id: p.id },
                    data: { confirm: 'Are you sure?' },
                    method: :delete, class:"icon_color" %>
      </td>

  <% end %>

    <%else %>
      <h1 style="margin-top: 170px" class="heading2">No Project created so far!</h1>
    <%end %>
    </tr>
  </tbody>

</table>
    <br><br><br>

    <%elsif current_user.role=="QA" %>
    <%p_qa = Project.where("assign_qa like ?", "%#{current_user.id.to_s}%") %>
    <%if p_qa.present? %>

    <h1 class="heading bgc">Projects List</h1>
    <table class="table table-striped table-hover space">
      <thead class="thead-light ">
      <tr>
        <th>Project Title</th>
        <th>Project Type</th>
        <th>Assigned Developer</th>
        <th>Assigned QA</th>
        <th>Raise Bug</th>
        <th>View Bugs</th>
      </thead>
      </tr>
      <tbody>
    <%@p.each do |p| %>
        <tr>

        <td> <%= p.title %></td>
        <td><%= p.project_type %></td>
          <% if p.assign_developer == nil %>
            <td><p>Not </p></td>
          <% elsif p.assign_developer != nil%>
            <%devs = JSON.parse(p.assign_developer) %>
            <td>
              <ul>
              <%devs.each do|d| %>

                <% developer = User.find(d) %>


                  <li><%= developer.name %> </li>
                <%end %>
                </ul>

              <%qa = JSON.parse(p.assign_qa) %>
            <td>
              <ul>
                <%qa.each do|d| %>
                  <% qa = User.find(d) %>

                  <li><%= qa.name %></li>
                <%end %>
              </ul>

            </td>



            </td>
          <% end %>
             <td><%=link_to 'raise bug', new_project_bug_path(project_id:p.id), class:"icon_color" %></td>
          <td><%=link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, project_bugs_path(project_id:p.id),class:"icon_color" %></td>

      <%end %>

    <%else %>
      <h1 style="margin-top: 170px" class="heading2">No Project assigned!</h1>
    <%end %>
      </tr>
      </tbody>
    </table>
  <%#= paginate @projects %>
  <%elsif current_user.role=="Developer" %>
    <%p_dev = Project.where("assign_developer like ?", "%#{current_user.id.to_s}%") %>
    <%if p_dev.present? %>
      <h1 class="heading bgc">Projects List</h1>
    <table class="table table-striped table-hover space">
      <thead class="thead-light ">
      <tr>
        <th>Project Title</th>
        <th>Project Type</th>
        <th>Assigned Developer</th>
        <th>Assigned QA</th>
        <th></th>
      </thead>
      </tr>
      <tbody>
      <%@p.each do |p| %>
        <%#if p.id ==current_user.id %>
        <tr>

          <td> <%= p.title %></td>
          <td><%= p.project_type %></td>
          <% if p.assign_developer == nil %>
            <td><p>Not </p></td>
          <% elsif p.assign_developer != nil%>
            <%devs = JSON.parse(p.assign_developer) %>
            <td>
              <ul>
                <%devs.each do|d| %>

                  <% developer = User.find(d) %>


                  <li><%= developer.name %> </li>
                <%end %>
              </ul>
            </td>
          <% if p.assign_qa != nil %>
            <%qa = JSON.parse(p.assign_qa) %>
            <td>
              <ul>
              <%qa.each do|d| %>
                <% qa = User.find(d) %>

                  <li><%= qa.name %></li>
              <%end %>
                </ul>

            </td>
          <% else %>
            <td></td>
          <% end %>
<%end %>
          <%if p.bugs.present? %>
          <td><%=link_to 'See bug', project_bugs_path(p), class:"icon_color" %></td>
            <%else %>
            <td><p>No Bug raised</p></td>
          <%end %>
          <%#end %>
      <%end %>

    <%else %>
      <h1 style="margin-top: 170px" class="heading2">No Project assigned!</h1>
    <%end %>
    <%end %>

  </tr>
  </tbody>

  </table>

  <%= paginate @p %>
<%else %>
  <%= render 'layouts/front' %>
<%end %>