<script type="text/javascript" charset="utf-8">

    // function selectizeElement(id){
    //     $('#'+id).selectize({
    //         create: true,
    //         openOnFocus: true,
    //         closeAfterSelect: true,
    //         persist: false
    //     });
    // }
    // selectizeElement('assign_dev')
</script>
<%if user_signed_in?  %>
  <%if current_user.role== "Manager" %>
    <h2 class="heading">Create Project</h2>
    <%=link_to  '<i class="fa fa-angle-double-left"></i>'.html_safe, projects_path, class:"space" %>
    <%= render "devise/shared/error_messages", resource: @project %>
    <%= form_with model: @project, url: projects_path do |f| %>

      <div class="col-6" style="margin: 0 auto">
        <div class="field mb-3">
          <%= f.label :title,  class:"form_text" %><br/>
          <%= f.text_field :title, class:"form-control", required:true %>
        </div>
        <div class="field mb-3">
          <%= f.label :project_type, class:"form_text" %><br/>
          <%= f.text_field :project_type, autofocus: true, class:"form-control", required:true %>
        </div>
        <div class="field mb-3">
          <%= f.label :created_by, class:"form_text" %><br/>
          <%= f.text_field :created_by, autofocus: true, value:current_user.name, class:"form-control" %>
        </div>

<!--        <div class="field mb-3">-->
          <%#= fields_for(@users) do |d|  %>


          <%#= f.collection_select :assign_developer, User.where(role:"Developer"), :id, :name, prompt:true, required:true %>
          <%#= select_tag :assign_developer, options_from_collection_for_select(User.where(role:"Developer"), :id, :name), multiple: true %>
          <%#= f.select 'assign_developer[]', options_for_select(User.map { |s| [s.name, s.id] }, User.name.pluck(:id)), multiple: true, size: 10 %>
           <%#end %>
          <%#= f.select :assign_developer, {assign_developer:assign_developer} %>
<!--          <div class="field mb-3">-->
<!--            <%#= f.label :assign_developer, class:"form_text" %><br/>-->
            <%#= select_tag :assign_developer, options_for_select(User.where(role:"Developer").pluck(:name).prepend("")), id:'assign_dev', required: true%>

<!--          </div>-->

    <!-----Selectize for developer----->
          <%= f.label :assign_developer, class:"form_text" %><br/>
          <%= f.select :assign_developer, User.where(role: "Developer").pluck(:name, :id), { include_hidden: false }, { multiple: true, class: "selectize" } %>

          <div class="modal fade language-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title" id="mySmallModalLabel">Add developer</h4>
                </div>
                <div class="modal-body">
                  <%= form_for User.new, url:projects_path do |f| %>
                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.submit class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
<!-----end--->
          <br>

          <!-----Selectize for QA----->
          <%= f.label :assign_qa, class:"form_text" %><br/>
          <%= f.select :assign_qa, User.where(role: "QA").pluck(:name, :id), { include_hidden: false }, { multiple: true, class: "selectize" } %>

          <div class="modal fade language-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title" id="mySmallModalLabel">Add developer</h4>
                </div>
                <div class="modal-body">
                  <%= form_for User.new, url:projects_path do |f| %>
                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.submit class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-----end--->




<!--        <div class="field mb-3">-->
<!--          <%#= f.label :Assign_QA, class:"form_text" %><br/>-->

          <%#= f.collection_select :assign_qa, User.where(role:"QA"), :id, :name, prompt: true, required:true %>
<!--        </div>-->

        <div class="field mb-3">

          <%= f.number_field :user_id, value: current_user.id, autofocus: true, class:"form-control", type:"hidden" %>
        </div>



        <div class="actions" style="margin-bottom: 10px">
          <%= f.submit "Create Project", class:"btn btn-info" %>
        </div>
      </div>
    <% end %>
  <%else %>
    redirect_to :root_path, notice: "You are restricted to perform this functionality"
  <%end %>

<%end %>

</div>


</div>