

<h1 class="heading"></h1>
<%=link_to  '<i class="fa fa-angle-double-left"></i>'.html_safe, projects_path, class:"icon_color space" %>

<%if user_signed_in? %>
  <%b = Bug.all %>
  <%if b.present? %>
    <h1 style="margin-top: 40px"class="heading">Bug List</h1>
  <%if current_user.role=="Manager" || current_user.role=="QA" %>
<table class="table table-striped table-hover space">
  <thead class="thead-light ">
  <tr>
    <th>Description</th>
    <th>Deadline</th>
    <th>Bug Type</th>
    <th>Status</th>
    <th>Screenshot</th>
    <th>Delete Bug</th>
    <th>Bug Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @projects.bugs.each do |b| %>
  <tr>
   <td><%=b.description %></td>
    <td><%=b.deadline %></td>
    <td><%=b.bug_type %></td>
    <td><%=b.status %></td>
    <%if b.avatar.attached? %>

      <td style="height: 30px !important;"><%= image_tag b.avatar, style: "width:80px" %></td>
      <%else %>
    <td>No image attached</td>
    <%end %>


<!--    <td> <%#= button_to("Delete", "/projects/#{@projects.id}/bugs/#{b.id}", {:onclick => "return confirm('Are you sure?')", :method => :delete, :remote => true,class:"btn btn-danger"} ) %></td>-->
<!--      <td><%#=button_to 'delete', "/projects/#{@projects.id}/bugs/#{b.id}" , method: :delete, data: { confirm: "Are you sure"}, class:"icon_color" %></td>-->
<!--    <td><%#= button_to "/projects/#{@projects.id}/bugs/#{b.id}", {:onclick => "return confirm('Are you sure?')", :method => :delete, :remote => true}  do %>-->
<!--        <i class="fas fa-trash"></i>-->
<!--      <%# end %></td>-->

<td><%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                { controller: "bugs", action: "destroy", id: b.id },
                data: { confirm: 'Are you sure?' },
                method: :delete, class:"icon_color" %>
</td>

    <td><%=link_to 'change status', edit_project_bug_path(id: b.id), class:"icon_color" %></td>
    <%if b.status == 'Active'  %>
      <td>Not Assigned</td>
      <%end %>
    <%if b.assign_developer != nil %>
      <% developer = User.find(b.assign_developer) %>

        <%if b.status == 'Completed' || b.status == 'Closed' %>
            <td>Solved By <%=developer.name%> </td>
        <%elsif  b.status == 'Taken' %>
        <td>Pending</td>
          <% end%>
      </tr>
    <%end %>
  <%end %>
    </tbody>
    </table>
    <%end %>
        <%if current_user.role == "Developer" %>
      <table class="table table-striped table-hover space">
        <thead class="thead-light ">
        <tr>
          <th>Description</th>
          <th>Deadline</th>
          <th>Bug Type</th>
          <th>Status</th>
          <th>Screenshot</th>
          <th></th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <% @projects.bugs.each do |b| %>
          <td><%=b.description %></td>
          <td><%=b.deadline %></td>
          <td><%=b.bug_type %></td>
          <td><%=b.status %></td>
          <%if b.avatar.attached? %>
            <!--      <img src="<%#=(url_for(b.avatar).variant(resize: "100x100!")) %>">-->
            <td style="height: 30px !important;"><%= image_tag b.avatar, style: "width:80px" %></td>
            <%else %>
              <td>No image attached</td>
          <%end %>
    <%if b.status=="Active" %>
      <td><%= link_to 'Assign Ticket', bugs_assign_ticket_path(id: b.id), class:"icon_color" %></td>
    <%elsif b.status== 'Taken'%>
      <td><p>Ticket Assigned!</p></td>
    <%elsif b.status == 'Completed' || b.status == 'Closed' %>
            <td>Completed</td>
  <%end %>
            </tr>
    <%end %>
    <%end %>
<%else  %>
    <p style="margin-top: 140px" class="heading2">No bug raised!</p>
<%end %>

<%end %>
  </tbody>
</table>

