<h1>Bugs#new</h1>

<%if user_signed_in? %>
<%=form_for @bug, url:project_bugs_path do |f| %>
  <div class="col-6" style="margin: 0 auto">
    <div class="field mb-3">
      <%= f.label :description %><br/>
      <%= f.text_field :description, class:"form-control", required:true %>
    </div>
    <div class="field mb-3">
      <%= f.label :deadline %><br/>
      <%= f.text_field :deadline, autofocus: true, class:"form-control", required:true %>
    </div>
    <div class="field mb-3">
      <%= f.label :bug_type %><br/>
      <%= f.text_field :bug_type, autofocus: true, class:"form-control" %>
    </div>
    <div class="col-6" style="margin: 0 auto">
      <div class="field mb-3">
        <%= f.label :status %><br/>
        <%= f.text_field :status, class:"form-control", required:true %>
      </div>
      <div class="field mb-3">
        <%= f.label :avatar %><br/>
        <%= f.file_field :avatar, class:"form-control" %>
      </div>

      <div class="field mb-3">

        <%= f.number_field :project_id, value:params[:project_id], autofocus: true,  class:"form-control" %>
      </div>
      <%=f.submit %>
    </div>
<% end %>

</div>
<%end %>
<%= link_to 'Back', projects_path %>